.Component {
  background-image: url(./assets/images/blue-bg.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Subject {
  /* position: absolute; */
  text-align: left;
  position: relative;
  width: 431px;
  height: 36px;
  left: 66px;
  top: auto;
  margin-top: 20px;
  /* margin-left: auto; */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 60px;
  /* display: flex; */
  /* align-items: center; */
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post-picture {
  text-align: right;
  position: relative;
  left: 120px;
  font-size: 12px;
}

.pic {
  height: 11px;
  border: 1px;
  margin-left: 2px;
}
.count {
  margin-left: 5px;
}

.Subjectnum {
  text-align: right;
  position: relative;
  left: 355px;
  bottom: 40px;
}
.textpost {
  margin-left: 3px;
}
.textcode {
  position: relative;
  text-align: center;
  width: 200px;
  height: 35px;
  left: 321px;
  background: #02353c;
  top: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
}

.textnum {
  position: relative;
  text-align: center;
  width: 200px;
  top: 35px;
  height: 25px;
  left: 321px;
  background: #5cccab;
  border-radius: 5px 5px 0px 0px;
}

.line-white {
  position: relative;
  top: 30px;
  left: 71px;
  width: 800px;
}

.form {
  width: 350px;
  height: 350px;
  top: auto;
  margin-left: 21px;
  background: #ffffff;
  border: 5px solid #3fd0c9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.category {
  position: relative;
  top: -20px;
  left: 20px;
  background: #3fd0c9;
  border-radius: 2px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  color: white;
}
.title {
  position: relative;
  left: 30px;
  top: -1%;
  width: 80%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  /* background-color: #000000; */
  color: #525252;
}

.line-black {
  position: relative;
  top: 5px;
  left: 20px;
  width: 300px;
  border: 1px solid #000000;
}

.headtext {
  position: relative;
  top: 25px;
  left: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: #525252;
}

.pdf {
  width: 55px;
  height: 55px;
}
.pdfcount {
  text-align: left;
  position: relative;
  left: 35px;
  top: 50px;
  font-family: Roboto;
  font-size: 9px;
}
.pdfrow {
  display: flex;
  flex-direction: row;
}

.creatby {
  text-align: right;
  position: relative;
  left: 35px;
  top: 70px;
  font-family: Roboto;
  font-size: 14px;
}

.Profile {
  width: 45px;
  height: 45px;
}
.Name {
  position: relative;
  left: 8px;
  /* bottom: 5px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 11px;
}

.Time {
  position: relative;
  left: 160px;
  top: 90px;
  width: 100%;
  /* background: #00FF99;
  height: 20px; */
  color: #3fd0c9;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 11px;
}

.moreItem {
  position: relative;
  top: 4px;
  left: 5px;
  width: 55px;
  height: 53px;
}
.textmore {
  position: relative;
  left: 7px;

  font-size: 10px;
}

.TAG {
  position: relative;
  bottom: 20px;
  left: 10px;
  margin-bottom: -;
  display: inline-flex;
}
