.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rounded-10 {
  border-radius: 10px !important;
}

.rounded-25 {
  border-radius: 25px !important;
}

.white-bg {
  min-height: 100vh;
  background: url(assets/images/white-bg.png) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.max-w-content {
  max-width: max-content;
}

.dropdown-toggle::after {
  display: none !important;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ui.modal,
.ui.active.modal {
  margin: 0 auto !important;
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  transform-origin: center;
  transition: all ease 0.5s;
}

#myModal {
  position: relative;
}
