.viewbutton {
  background-color: #2eaf7d;
  color: white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.removebutton {
  background-color: #e01e5a;
  color: white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
}
