body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Kanit', 'Roboto', sans-serif !important;
}

.link,
a {
  text-decoration: none;
  background-color: none;
}

.search {
  background-color: black;
}

#home-search-block .search {
  color: black !important;
}

.divider {
  margin-right: 15px;
  overflow: clip;
  white-space: nowrap;
}
