.box-shadow {
  -webkit-box-shadow: 0 6px 6px -6px #777;
  -moz-box-shadow: 0 6px 6px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}

.style1 {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.style2 {
  height: 32px;
  top: 228px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.style3 {
  color: #ffffff;
  top: 233px;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: Roboto;
  border-radius: 5px;
  margin-top: 75px;
}

.style4 {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: Roboto;
}

.style5 {
  color: #02353c;
  font-style: normal;
  font-weight: bold;
  font-family: Roboto;
  align-items: right;
  font-size: 18px;
}

.style6 {
  font-weight: bold;
  font-family: Roboto;
  align-items: center;
  font-size: 48px;
  color: #525252;
}

.style7 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #525252;
}

.style8 {
  background: #e4e6e7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.style9 {
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.textPostStyle {
  color: #525252;
}

.style10 {
  color: #525252;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.style11 {
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.5);
  width: 1126px;
  height: 308px;
}

.style12 {
  font-weight: bold;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  color: #525252;
}

.style13 {
  border: 1px solid #bfbfbf;
  background: #fafafa;
  box-sizing: border-box;
}

.style14 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  font-size: 10px;
  display: flex;
  text-align: center;
}

.style15 {
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
  font-weight: normal;
  font-style: normal;
}

.style16 {
  border-radius: 5px 5px 5px 5px;
}

.style17 {
  line-height: 38px;
}

.style18 {
  font-family: Roboto;
  font-style: normal;
  font-size: 25px;
  font-weight: bold;
  color: #525252;
}

.style19 {
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
  color: #2eaf7d;
}

.style20 {
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
  color: #3fd0c9;
}

.style21 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.style22 {
  font-size: 20px;
  color: #525252;
  border: none;
}

.style23 {
  border: none;
  background: #e4e6e7;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.style24 {
  color: #525252;
  font-size: 12px;
  font-weight: lighter;
  border: none;
}

.style25 {
  color: #525252;
  font-size: 15px;
  font-weight: bolder;
  border: none;
}

.style26 {
  border-radius: 0rem 0rem 20px 20px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.style27 {
  /* border-radius: 4px 0px 0px 4px;
    background: #FFFFFF;
    border: none; */
}

.style28 {
  border-radius: 0px 4px 4px 0px;
  background-color: #ffffff;
}

.style29 {
  width: 15px;
  height: 15px;
  /* background: #FFFFFF;
    border-radius: 0px 4px 4px 0px;
    border: none; */
}
