.blue-bg2 {
  background-image: url('./assets/images/BG.png');
  min-height: 100vh;
  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-bg {
  background-image: url('./assets/images/blue-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  /* overflow: hidden; */
}

.white-bg {
  background-image: url('./assets/images/white-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}

.header {
  color: #02353c;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bolder;
  /*line-height: 56px;*/
  align-items: center;
  text-align: center;
}

.header-block {
  padding-bottom: 20px;
}

.form {
  padding-top: 3rem;
}

.myform {
  position: relative;
  display: flex;
  /*padding: 1rem;*/
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 1rem;
  outline: 0;
}

p {
  font-size: smaller;
}

#caption {
  color: grey;
}

.rightCard {
  height: 100%;
  background: linear-gradient(198.2deg, #02353c 60.19%, #1ab7ea 119.9%);
  border-radius: 0px 0px 1rem 1rem;
}

.upperCard {
  height: 50%;
  background-color: #02353c;
}

.lowerCard {
  height: 50%;
  background-image: url('./assets/images/blue-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 1rem 1rem;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  height: 5px;
}

.gg-shadow {
  -webkit-box-shadow: 0 6px 6px -6px #777;
  -moz-box-shadow: 0 6px 6px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .rightCard {
    border-radius: 0px 0px 1rem 1rem;
  }
  .lowerCard {
    border-radius: 0 0 1rem 1rem;
  }
  .header-block {
    padding-bottom: 4vh;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .rightCard {
    border-radius: 0px 1rem 1rem 0px;
  }
  .upperCard {
    border-radius: 0 1rem 0 0;
  }
  .lowerCard {
    border-radius: 0 0 1rem 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .upperCard {
    border-radius: 0 1rem 0 0;
  }
  .lowerCard {
    border-radius: 0 0 1rem 0;
  }
}
