$primary: #2eaf7d;
$primary-dark: #02353c;
$primary-light: #3fd0c9;
$secondary: #ffffff9f;

$theme-colors: (
  'primary': $primary,
  'primary-dark': $primary-dark,
  'primary-light': $primary-light,
  'secondary': $secondary,
);

@import 'bootstrap/scss/bootstrap';
